.category__title-wrap
  text-align-last: center
  
.category__title 
  position: relative
  padding-top: 60px 
  margin-bottom: 110px
  display: inline-block
  &::after 
    position: absolute
    content: ''
    right: 20px 
    bottom: 0px 
    width: 210px
    height: 8px 
    background-color: $color-blue
  +media-sm 
    padding-top: 40px
    margin-bottom: 60px
    &::after
      right: 10px
      width: 120px
      height: 6px

.category__crumbs
  margin-bottom: 33px
  +media-sm 
    margin-bottom: 20px

// ----------------- category line__slider-category --------------------------

.category
  .line__slider-category
    .line__item-text
      &--1
        background-color: #00CEC9
      &--2
        background-color: #74B9FF
      &--3
        background-color: #A29BFE
      &--4
        background-color: #1E90FF
      &--5
        background-color: #D980FA
      &--6
        background-color: #6C5CE7
      &--7
        background-color: #25CCF7
      &--8
        background-color: #1E90FF



// ----------------- crumbs --------------------------

.crumbs
  padding: 0
  margin: 0
  list-style: none 
  li 
    display: inline-block
    margin-right: 5px
  a,
  span 
    font-size: 16px 
    font-weight: 500
    color: $color-blue
  a 
    transition: .3
    opacity: .4
  a:hover 
    opacity: 1